{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "corejs": 2
        }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "react-hot-loader/babel",
        ["module-resolver", {
            "root": ["./src"],
            "alias": {
                "src": "./src",
                "assets": "./src/assets",
                "modules": "./src/modules"
            }
        }]
    ],
    "env": {
        "production": {
            "presets": ["minify"],
            "plugins": [
                "@babel/runtime-corejs2"
            ]
        },
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ]
        }
    }
}
